<div>
  <b>New Topic</b>
  <%= form_for @topic, :url => topics_path, :method => :post do |f| %>
    <table>
      <%= render partial: 'form', locals: {f: f} %>
      <tr><th><td><%= f.submit "Create Topic" %></td></th></tr>
    </table>
  <% end %>
</div>
