<label>Topic Heading : <%= @topic.name %></label><br/>
<label> Post Content: </label><br/>
<%= form_for @post, url: topic_posts_path, :method => :post do |f| %>
  <%= render partial: 'form', locals:{f: f}%>
  <%= f.submit "Save" %>
<% end %>
